.profile {
  font-family: "Inter", Arial, sans-serif;
  min-height: 120px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .profile {
    flex-direction: column;
  }
}
