@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font-inter.css);

/* page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__footer/page__footer.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* content */
@import url(../blocks/content/content.css);
@import url(../blocks/content/__profile/content__profile.css);
@import url(../blocks/content/__elements/content__elements.css);

@import url(../blocks/button/button.css);

/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__status/profile__status.css);
@import url(../blocks/profile/__container/profile__container.css);

/* elements & element */
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__container/element__container.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__image/element__image.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
